<a href="https://colab.research.google.com/github/zadevaibhav45/ml-odel/blob/master/lnmodelass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
house_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_data.csv')

In [ ]:
house_data.head()

      price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0  221900.0         3       1.00  ... -122.257           1340        5650
1  538000.0         3       2.25  ... -122.319           1690        7639
2  180000.0         2       1.00  ... -122.233           2720        8062
3  604000.0         4       3.00  ... -122.393           1360        5000
4  510000.0         3       2.00  ... -122.045           1800        7503

[5 rows x 19 columns]

In [ ]:
X = house_data.drop('price',axis=1)

In [ ]:
y= house_data[['price']]

In [ ]:
house_data.tail()

          price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
16608  245000.0         2        1.0  ... -122.295           1220        1740
16609  275000.0         4        2.0  ... -122.196           1450        8768
16610  270000.0         3        2.0  ... -122.368           1570        7227
16611  767250.0         4        3.0  ... -122.303           2170        4080
16612  229000.0         3        2.0  ... -122.338           1190        9900

[5 rows x 19 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=47)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
linear_regressor= LinearRegression()

In [ ]:
linear_regressor.fit(X_train, y_train)
y_pred = linear_regressor.predict(X_test)

In [ ]:

import numpy as np
from sklearn import metrics

In [ ]:
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

209755.0036921953

In [ ]:
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_new_test_data.csv')

In [ ]:
test_new.head()

   bedrooms  bathrooms  sqft_living  ...     long  sqft_living15  sqft_lot15
0         5       3.25         5210  ... -122.397           2590       10250
1         5       2.00         2800  ... -122.163           1760       18282
2         4       2.25         2060  ... -122.046           2160       45657
3         5       2.00         2360  ... -122.046           1860       19998
4         4       2.50         2370  ... -122.155           2370        7378

[5 rows x 18 columns]

In [ ]:
price = linear_regressor.predict(test_new)

In [ ]:
res = pd.DataFrame(price)
res.index = test_new.index
res.columns = ["price"]
from google.colab import files
res.to_csv('prediction_results_HP.csv')
files.download('prediction_results_HP.csv')